<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body style="background-color:#F5D04C">
        @RenderSection("Header")

        <hr />
        @RenderBody()
        <hr />
        @RenderSection("Footer")

    </body>
</html>
